
body,html{
    background: #F1F2F3;
    padding-top: 45px;
}

.layout-top{
    width: 100%;
    height: 60px;
    background-color: #33373d;
    line-height: 60px;
    padding: 0 30px;
    color:rgba(255,255,255,.7);
    position: fixed;
    top:0;
    left: 0;
    overflow: hidden;
    z-index: 999;
   
}

.layout-top .main{
    width: 100%; 
    position: relative;
}

.layout-top .main .menu{
    background: #33373d; 
    height: 60px;
    line-height: 60px;
    margin-left: 30px;
}

.layout-top p{
    margin: 0 5px;
    font-size: 23px;
    line-height: 0px;
}

.layout-top .search{
    width: 200px; 
    height: 60px; 
    position: absolute;
    top: 0;
    right: 0;
}

.layout-top .search .input{
    background: rgba(255,255,255,.1); 
    border: none;
    color: rgba(255,255,255,.5);
}

.layout-top .search .ant-input{
    background:none;
    color:rgba(255,255,255,.5);
}

.blog-body{
    width: 1000px;
    background: #fff;
    margin: 0 auto; 
    border-radius: 10px; 
    position: relative;
    min-height: 400px;
}



.blog-small-body{
    width: 100%;
    background: #fff;
    margin: 0 auto; 
    position: relative;
    min-height: 400px;
}

.blog-body a,.blog-small-body a{
    color:#444;
}

.blog-body a:hover{
    color: #25b864;
}

#nprogress .bar{
    background: #25b864;
}

.no-content{
    margin: 20px 0 40px 0;
    padding: 20px;
    background-color: #f1f2f3;
    border-radius: 6px;
    text-align: center;
    color: #919599;
    font-size: 14px;
    font-weight: bold;
}

.footer{
    color: #b1b5b9;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 100px
}

