.title{
    margin: 0;
    padding: 0;
    color: #444;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 10px;
}

.pre-body{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #666;
    font-size: 14px;
    line-height: 22px;
    font-weight: 350;
}